@import "../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/variables";

// $default-bg-color: #000000;
$input-toolbox-send-btn-color: red;
// $conversation-color: pink;

$message-content-color: black;
$message-content-bg-color: #e6e7eb;
// $message-input-bg-color: #e6e7eb;
$message-input-content-editor-wrapper-bg-color: #e6e7eb;
$message-input-content-editor-container-bg-color: #e6e7eb;
$message-input-content-editor-bg-color: #e6e7eb;
// $message-outgoing-bg-color: black;
$message-content-outgoing-bg-color: black;
$message-content-outgoing-color: white;